<footer class="footer">
    <div class="container footer-container">
            <a class="home-contact footer-conntact" href="https://play.google.com/store/apps/details?id=com.dekovir.StrongBlade&hl=en&gl=us">
                <img src="/img/home/btn.png" alt="google play" loading="lazy">
            </a>        
        <ul class="footer-navigation">
            <li class="footer-link">
                <a class="footer-underline" href="privacy.html">Privacy Policy</a>
            </li>
            <li class="footer-link">
                <a class="footer-underline" href="terms.html">Terms Of Service</a>
            </li>
        </ul>
        <p class="footer-text">© 2026 vectorcluster.site — All rights reserved</p>
    </div>
</footer>