<header class="header" id="site-header">
    <div class="container header-container ">
        <a class="header-logo" href="./#home">
            <img src="/img/header/logo.png" alt="logo" loading="lazy" />
        </a>
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6 8H17M6 16H17M6 12H17" stroke="#353334" stroke-linecap="square" />
</svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#home">Home</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#about">About the Game</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#how">How to Play</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#characters">Characters</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#features">Features</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#reviews">Reviews</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#faq">FAQ</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li class="menu-item"><a class="menu-list-item" href="./#home">Home</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#about">About the Game</a></li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#how">How to Play</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#characters">Characters</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#features">Features</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#reviews">Reviews</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#faq">FAQ</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#contact">Contact</a>
        </li>
    </ul>
</div>