<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
            <h1 class="home-title">Strong blade</h1>
            <h2 class="home-subtitle">Match, Explore, Conquer.</h2>
            <p class="home-text">Every match you make unlocks a new adventure.</p>
            <a class="home-contact" href="https://play.google.com/store/apps/details?id=com.dekovir.StrongBlade&hl=en&gl=us">
                <img src="/img/home/btn.png" alt="google play" loading="lazy">
            </a>
        </div>
    </div>
</section>
<section class="about-section" id="about">
    <div class="title-container">
        <h2>About the Game</h2>
    </div>
    <div class="container about-container">
        <h3>It's basically a fantasy puzzle game<br class="desk"/> where you're constantly exploring and finding new stuff</h3>
        <p class="about-text">Strongblade mixes classic match-3 puzzles with storytelling and lets you rebuild the world as you play.<br class="desk" /> Players solve
        colorful puzzle boards to unlock hidden areas, repair villages, discover treasures, and continue their expedition
        through magical lands.<br class="desk" /> We want the game to feel fun and rewarding without being too heavy, but still give you that
        explorer's rush. </p>
    </div>
</section>
<section class="how-section" id="how">
    <div class="title-container how-title-container">
        <h2>How to Play</h2>
    </div>
    <div class="container">
        <h3>Solve puzzles and<br class="mob"/> uncover new regions</h3>
        <div class="swiper how-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
             <picture>
            <source srcset="
                        /img/how/one-desk.png 1x,
                        /img/how/one-desk@2x.png 2x
                        " media="(min-width: 1440px)" />
            <source srcset="
                        /img/how/one-mob.png 1x,
                        /img/how/one-mob@2x.png 2x
                        " media="(max-width: 1439px)" />
            <img src="/img/how/one-mob.png" alt="Strong blade" loading="lazy" />
        </picture>   
        <div class="how-slide-wrapper">
            <p class="how-slide-title">Match Magical Symbols</p>
            <p class="how-slide-text">Create combinations to clear objectives and progress through levels.</p>
        </div>   
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="
                                        /img/how/two-desk.png 1x,
                                        /img/how/two-desk@2x.png 2x
                                        " media="(min-width: 1440px)" />
                        <source srcset="
                                        /img/how/two-mob.png 1x,
                                        /img/how/two-mob@2x.png 2x
                                        " media="(max-width: 1439px)" />
                        <img src="/img/how/two-mob.png" alt="Strong blade" loading="lazy" />
                    </picture>
                    <div class="how-slide-wrapper">
                        <p class="how-slide-title">Use Adventure Boosters</p>
                        <p class="how-slide-text">Activate bombs, magic effects, and powerful combo abilities.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="
                                        /img/how/three-desk.png 1x,
                                        /img/how/three-desk@2x.png 2x
                                        " media="(min-width: 1440px)" />
                        <source srcset="
                                        /img/how/three-mob.png 1x,
                                        /img/how/three-mob@2x.png 2x
                                        " media="(max-width: 1439px)" />
                        <img src="/img/how/three-mob.png" alt="Strong blade" loading="lazy" />
                    </picture>
                    <div class="how-slide-wrapper">
                        <p class="how-slide-title">Explore Fantasy Locations</p>
                        <p class="how-slide-text">Travel through forests, ruins, villages, and hidden caves.</p>
                    </div>
                </div>
                <div class="swiper-slide h3">
                    <picture>
                        <source srcset="
                                        /img/how/four-desk.png 1x,
                                        /img/how/four-desk@2x.png 2x
                                        " media="(min-width: 1440px)" />
                        <source srcset="
                                        /img/how/four-mob.png 1x,
                                        /img/how/four-mob@2x.png 2x
                                        " media="(max-width: 1439px)" />
                        <img src="/img/how/four-mob.png" alt="Strong blade" loading="lazy" />
                    </picture>
                    <div class="how-slide-wrapper">
                        <p class="how-slide-title">Complete Story Missions</p>
                        <p class="how-slide-text">Help characters overcome obstacles and reveal ancient mysteries.</p>
                    </div>
                </div>
                <div class="swiper-slide h3">
                    <picture>
                        <source srcset="
                                        /img/how/five-desk.png 1x,
                                        /img/how/five-desk@2x.png 2x
                                        " media="(min-width: 1440px)" />
                        <source srcset="
                                        /img/how/five-mob.png 1x,
                                        /img/how/five-mob@2x.png 2x
                                        " media="(max-width: 1439px)" />
                        <img src="/img/how/five-mob.png" alt="Strong blade" loading="lazy" />
                    </picture>
                    <div class="how-slide-wrapper">
                        <p class="how-slide-title">Restore the World</p>
                        <p class="how-slide-text">Repair damaged locations and unlock decorative improvements.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="characters-section" id="characters">
    <div class="title-container">
        <h2>Characters</h2>
    </div>
    <div class="container">
        <h3>Heroes of the adventure</h3>
        <div class="swiper characters-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
             <picture>
            <source srcset="
                        /img/characters/one-desk.png 1x,
                        /img/characters/one-desk@2x.png 2x
                        " media="(min-width: 1440px)" />
            <source srcset="
                        /img/characters/one-mob.png 1x,
                        /img/characters/one-mob@2x.png 2x
                        " media="(max-width: 1439px)" />
            <img src="/img/characters/one-mob.png" alt="Strong blade" loading="lazy" />
        </picture> 
        <p class="characters-slide-title">Sean</p>
        <p class="characters-slide-text">A fearless explorer always searching for forgotten treasures.</p>
                </div>
                <div class="swiper-slide">
             <picture>
            <source srcset="
                        /img/characters/two-desk.png 1x,
                        /img/characters/two-desk@2x.png 2x
                        " media="(min-width: 1440px)" />
            <source srcset="
                        /img/characters/two-mob.png 1x,
                        /img/characters/two-mob@2x.png 2x
                        " media="(max-width: 1439px)" />
            <img src="/img/characters/two-mob.png" alt="Strong blade" loading="lazy" />
        </picture> 
        <p class="characters-slide-title">Nora</p>
        <p class="characters-slide-text">A clever strategist who helps solve ancient mysteries.</p>
                </div>
                <div class="swiper-slide">
             <picture>
            <source srcset="
                        /img/characters/three-desk.png 1x,
                        /img/characters/three-desk@2x.png 2x
                        " media="(min-width: 1440px)" />
            <source srcset="
                        /img/characters/three-mob.png 1x,
                        /img/characters/three-mob@2x.png 2x
                        " media="(max-width: 1439px)" />
            <img src="/img/characters/three-mob.png" alt="Strong blade" loading="lazy" />
        </picture> 
        <p class="characters-slide-title">Bristle</p>
        <p class="characters-slide-text c3">A small but brave companion bringing humor and energy to the journey.</p>
                </div>                                
            </div>
        </div>
    </div>
</section>