<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
            <h1 class="home-title">Strong blade</h1>
            <h2 class="home-subtitle">Match, Explore, Conquer.</h2>
            <p class="home-text">Every match you make unlocks a new adventure.</p>
            <a class="home-contact" href="https://play.google.com/store/apps/details?id=com.dekovir.StrongBlade&hl=en&gl=us">
                <img src="/img/home/btn.png" alt="google play" loading="lazy">
            </a>
        </div>
    </div>
</section>