body{
background: #fafff6;
font-family: "Encode Sans Semi Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #56565f;
}
.title-container{
padding: 80px 0 16px;
}
h2{
  font-family: "Encode Sans Semi Condensed", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    color: #fafff6;
}
h3{
  font-family: "Luckiest Guy", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: #60838d;
    margin-bottom: 48px;
}
@media only screen and (min-width: 1440px) {
  h3{
  font-size: 32px;
  }
}