@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./main.css');
@import url('./footer.css');




.background {
    text-align: left;
    font-size: 14px;
}

.privacy-title {
font-family: "Luckiest Guy", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: #56565f;
    margin-top: 64px;
    margin-bottom: 64px;

}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
font-family: "Encode Sans Semi Condensed", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #56565f;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}



.policy-link {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 16px;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text {
    margin-top: 20px;
}

.mail-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.policy-span {
text-transform: uppercase;
}

@media only screen and (min-width: 1439px) {
    .privacy-title {
font-size: 64px;
    }

    .policy-container {
        padding-left: 223px;
        padding-right: 223px;
    }

}
/* <p class="text"><span class="policy-span"></span></p> */